@model CS_NET_Web_App.Models.MemberVM

@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Account Details</h2>

<h3>Rewards</h3>

<table border="1" cellpadding="10">
  <thead>
    <tr>
      <td>Name</td>
      <td>Barcode</td>
      <td>Value</td>
    </tr>
  </thead>
  <tbody>
    @foreach (var Reward in Model.Rewards) {
    <tr>
      <td>@Reward.RewardName</td>
      <td>@Reward.RewardBarcode</td>
      <td>@Reward.RewardValue</td>
    </tr>
    }
  </tbody>
</table>